<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Livro para Atualizar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Pesquisar Livro para Atualizar</h1>

    <form method="post" action="{{ url_for('update_livro') }}">
        <label for="isbn_pesquisa">Pesquisar por ISBN:</label>
        <input type="text" id="isbn_pesquisa" name="isbn_pesquisa">
        <button type="submit">Pesquisar Livro</button>
    </form>

    {% if mensagem %}
        <div class="{{ mensagem.classe }}">
            <p>{{ mensagem.conteudo }}</p>
        </div>
    {% endif %}

    <ul>
        <li><a href="{{ url_for('livros_crud') }}">Voltar ao CRUD de Livros</a></li>
    </ul>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
